/* [project]/public/assets/css/icons.css [app-client] (css, ) */
@font-face {
  font-family: icons;
  src: url("../media/icons.0f870d7b.ttf") format("truetype"), url("../media/icons.4d460c01.woff") format("woff"), url("../media/icons.25780e5b.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="mi-"], [class*=" mi-"] {
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  transform: rotate(.003deg);
  font-family: icons !important;
}

.mi-add:before {
  content: "";
}

.mi-archive:before {
  content: "";
}

.mi-arrow-down:before {
  content: "";
}

.mi-arrow-left:before {
  content: "";
}

.mi-arrow-left-down:before {
  content: "";
}

.mi-arrow-left-up:before {
  content: "";
}

.mi-arrow-right:before {
  content: "";
}

.mi-arrow-right-down:before {
  content: "";
}

.mi-arrow-right-up:before {
  content: "";
}

.mi-arrow-up:before {
  content: "";
}

.mi-attachment:before {
  content: "";
}

.mi-backspace:before {
  content: "";
}

.mi-ban:before {
  content: "";
}

.mi-bar-chart:before {
  content: "";
}

.mi-bar-chart-alt:before {
  content: "";
}

.mi-board:before {
  content: "";
}

.mi-bold:before {
  content: "";
}

.mi-book:before {
  content: "";
}

.mi-bookmark:before {
  content: "";
}

.mi-calendar:before {
  content: "";
}

.mi-call:before {
  content: "";
}

.mi-camera:before {
  content: "";
}

.mi-caret-down:before {
  content: "";
}

.mi-caret-left:before {
  content: "";
}

.mi-caret-right:before {
  content: "";
}

.mi-caret-up:before {
  content: "";
}

.mi-check:before {
  content: "";
}

.mi-chevron-double-down:before {
  content: "";
}

.mi-chevron-double-left:before {
  content: "";
}

.mi-chevron-double-right:before {
  content: "";
}

.mi-chevron-double-up:before {
  content: "";
}

.mi-chevron-down:before {
  content: "";
}

.mi-chevron-left:before {
  content: "";
}

.mi-chevron-right:before {
  content: "";
}

.mi-chevron-up:before {
  content: "";
}

.mi-circle:before {
  content: "";
}

.mi-circle-add:before {
  content: "";
}

.mi-circle-arrow-down:before {
  content: "";
}

.mi-circle-arrow-left:before {
  content: "";
}

.mi-circle-arrow-right:before {
  content: "";
}

.mi-circle-arrow-up:before {
  content: "";
}

.mi-circle-check:before {
  content: "";
}

.mi-circle-error:before {
  content: "";
}

.mi-circle-help:before {
  content: "";
}

.mi-circle-information:before {
  content: "";
}

.mi-circle-remove:before {
  content: "";
}

.mi-circle-warning:before {
  content: "";
}

.mi-clipboard:before {
  content: "";
}

.mi-clipboard-check:before {
  content: "";
}

.mi-clipboard-list:before {
  content: "";
}

.mi-clock:before {
  content: "";
}

.mi-close:before {
  content: "";
}

.mi-cloud:before {
  content: "";
}

.mi-cloud-download:before {
  content: "";
}

.mi-cloud-upload:before {
  content: "";
}

.mi-cloudy:before {
  content: "";
}

.mi-comment:before {
  content: "";
}

.mi-compass:before {
  content: "";
}

.mi-computer:before {
  content: "";
}

.mi-copy:before {
  content: "";
}

.mi-credit-card:before {
  content: "";
}

.mi-database:before {
  content: "";
}

.mi-delete:before {
  content: "";
}

.mi-delete-alt:before {
  content: "";
}

.mi-document:before {
  content: "";
}

.mi-document-add:before {
  content: "";
}

.mi-document-check:before {
  content: "";
}

.mi-document-download:before {
  content: "";
}

.mi-document-empty:before {
  content: "";
}

.mi-document-remove:before {
  content: "";
}

.mi-download:before {
  content: "";
}

.mi-drag:before {
  content: "";
}

.mi-drop:before {
  content: "";
}

.mi-edit:before {
  content: "";
}

.mi-edit-alt:before {
  content: "";
}

.mi-email:before {
  content: "";
}

.mi-enter:before {
  content: "";
}

.mi-expand:before {
  content: "";
}

.mi-export:before {
  content: "";
}

.mi-external-link:before {
  content: "";
}

.mi-eye:before {
  content: "";
}

.mi-eye-off:before {
  content: "";
}

.mi-favorite:before {
  content: "";
}

.mi-filter:before {
  content: "";
}

.mi-filter-1:before {
  content: "";
}

.mi-filter-alt:before {
  content: "";
}

.mi-flag:before {
  content: "";
}

.mi-fog:before {
  content: "";
}

.mi-folder:before {
  content: "";
}

.mi-folder-add:before {
  content: "";
}

.mi-folder-check:before {
  content: "";
}

.mi-folder-download:before {
  content: "";
}

.mi-folder-remove:before {
  content: "";
}

.mi-grid:before {
  content: "";
}

.mi-heart:before {
  content: "";
}

.mi-home:before {
  content: "";
}

.mi-image:before {
  content: "";
}

.mi-inbox:before {
  content: "";
}

.mi-italic:before {
  content: "";
}

.mi-laptop:before {
  content: "";
}

.mi-layers:before {
  content: "";
}

.mi-layout:before {
  content: "";
}

.mi-link:before {
  content: "";
}

.mi-link-alt:before {
  content: "";
}

.mi-list:before {
  content: "";
}

.mi-location:before {
  content: "";
}

.mi-lock:before {
  content: "";
}

.mi-log-in:before {
  content: "";
}

.mi-log-out:before {
  content: "";
}

.mi-map:before {
  content: "";
}

.mi-megaphone:before {
  content: "";
}

.mi-menu:before {
  content: "";
}

.mi-message:before {
  content: "";
}

.mi-message-alt:before {
  content: "";
}

.mi-minimize:before {
  content: "";
}

.mi-mobile:before {
  content: "";
}

.mi-moon:before {
  content: "";
}

.mi-next:before {
  content: "";
}

.mi-notification:before {
  content: "";
}

.mi-notification-off:before {
  content: "";
}

.mi-options-horizontal:before {
  content: "";
}

.mi-options-vertical:before {
  content: "";
}

.mi-pause:before {
  content: "";
}

.mi-pen:before {
  content: "";
}

.mi-percentage:before {
  content: "";
}

.mi-pin:before {
  content: "";
}

.mi-play:before {
  content: "";
}

.mi-previous:before {
  content: "";
}

.mi-print:before {
  content: "";
}

.mi-rain:before {
  content: "";
}

.mi-refresh:before {
  content: "";
}

.mi-remove:before {
  content: "";
}

.mi-reorder:before {
  content: "";
}

.mi-reorder-alt:before {
  content: "";
}

.mi-repeat:before {
  content: "";
}

.mi-save:before {
  content: "";
}

.mi-search:before {
  content: "";
}

.mi-select:before {
  content: "";
}

.mi-send:before {
  content: "";
}

.mi-settings:before {
  content: "";
}

.mi-share:before {
  content: "";
}

.mi-shopping-cart:before {
  content: "";
}

.mi-shopping-cart-add:before {
  content: "";
}

.mi-shuffle:before {
  content: "";
}

.mi-snow:before {
  content: "";
}

.mi-snowflake:before {
  content: "";
}

.mi-sort:before {
  content: "";
}

.mi-speakers:before {
  content: "";
}

.mi-stop:before {
  content: "";
}

.mi-storm:before {
  content: "";
}

.mi-strikethrough:before {
  content: "";
}

.mi-sun:before {
  content: "";
}

.mi-sunrise:before {
  content: "";
}

.mi-sunrise-alt:before {
  content: "";
}

.mi-sunset:before {
  content: "";
}

.mi-switch:before {
  content: "";
}

.mi-table:before {
  content: "";
}

.mi-tablet:before {
  content: "";
}

.mi-tag:before {
  content: "";
}

.mi-temperature:before {
  content: "";
}

.mi-text:before {
  content: "";
}

.mi-three-rows:before {
  content: "";
}

.mi-two-columns:before {
  content: "";
}

.mi-two-rows:before {
  content: "";
}

.mi-underline:before {
  content: "";
}

.mi-undo:before {
  content: "";
}

.mi-unlock:before {
  content: "";
}

.mi-user:before {
  content: "";
}

.mi-user-add:before {
  content: "";
}

.mi-user-check:before {
  content: "";
}

.mi-user-remove:before {
  content: "";
}

.mi-users:before {
  content: "";
}

.mi-volume-off:before {
  content: "";
}

.mi-volume-up:before {
  content: "";
}

.mi-warning:before {
  content: "";
}

.mi-webcam:before {
  content: "";
}

.mi-wind:before {
  content: "";
}

.mi-window:before {
  content: "";
}

.mi-zoom-in:before {
  content: "";
}

.mi-zoom-out:before {
  content: "";
}

/*# sourceMappingURL=public_assets_css_icons_3ffd7f.css.map*/